@keyframes topologyDashFlow {
  to {
    stroke-dashoffset: -24;
  }
}

.animateTopologyDash {
  stroke-dasharray: 6 6;
  animation: topologyDashFlow 1.5s linear infinite;
}

@keyframes radarScan {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animateRadarScan {
  animation: radarScan 12s linear infinite;
}
