.git
**/node_modules
**/.next
**/.turbo
**/dist
**/out
**/build
**/coverage
**/storybook-static
**/*.tsbuildinfo
**/*.log
**/.env*
!**/.env.example
**/.vercel
.vscode
.idea
docs
extension
database.reset.sql
